@import './style/normalize';
@import './style/flexboxgrid';
@import './style/fonts';
@import './style/var';
@import './style//colors';
@import './style/mixin';

body {
  font-family: $font-base;
}
.safe-area {
  padding: 16px;
  box-sizing: border-box;
}
